# gradle wrapper jar는 제외하지 않음
!gradle/wrapper/gradle-wrapper.jar

# Java
*.class
*.jar

# Gradle
/build
.gradle/

# STS
/.settings
/.classpath
/.project

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# EKS 구성 파일 제외
/kube_work/efs-pv.yaml
/kube_work/efs-pvc.yaml
/kube_work/db-config.yaml
/kube_work/db-secret.yaml

